.git
.gitignore
README.md

Dockerfile
docker-compose.yml
.dockerignore

frontend/node_modules
frontend/.next

backend/__pycache__
backend/venv
**/*.pyc
**/__pycache__

logs/
*.log

.env
.env.local
.env.production

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db