frontend/node_modules
frontend/.gitignore
frontend/.prettierignore
frontend/.prettierrc.json
frontend/jest.config.js
frontend/jest.setup.ts
frontend/yarn.lock

backend/venv
backend/logs
backend/__pycache__
backend/**/__pycache__/